@model List<ListMovieDto>


@{
	ViewData["Title"] = "Film Sayfası";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
 }


<h2>Film Listesi</h2>

<a asp-action="CreateMovie" asp-controller="Movie" asp-area="Admin" class="btn btn-outline-primary">Yeni Film Ekle</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Başlık</th>
            <th>Çıkış Yılı</th>
            <th>Poster</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.ReleaseYear</td>
                <td>
                    <img src="@movie.PosterUrl" alt="Poster" width="80" height="120" />
                </td>
                <td>
                    <a asp-action="DeleteMovie" asp-controller="Movie" asp-area="Admin" asp-route-id="@movie.Id" class="btn btn-outline-danger">Sil</a>
                    <a asp-action="UpdateMovie" asp-controller="Movie" asp-area="Admin" asp-route-id="@movie.Id" class="btn btn-outline-info">Güncelle</a>

                </td>
            </tr>
        }
    </tbody>
</table>


